---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.io/forecast/your_api_key/42.7243,-73.6927,1443199368
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Hostname:
      - world
      X-Forecast-API-Calls:
      - '16'
      ETag:
      - '"1901518770"'
      X-Response-Time:
      - 57ms
    body:
      encoding: UTF-8
      string: '{"latitude":42.7243,"longitude":-73.6927,"timezone":"America/New_York","offset":-4,"currently":{"time":1443199368,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":67.26,"apparentTemperature":67.26,"dewPoint":48.75,"humidity":0.51,"windSpeed":1.29,"windBearing":154,"visibility":10,"cloudCover":0.66,"pressure":1028.98,"ozone":266.55},"minutely":{"data":[{"time":1443199320,"precipIntensity":0,"precipProbability":0},{"time":1443199380,"precipIntensity":0,"precipProbability":0}]},"hourly":{"summary":"Partly
        cloudy throughout the day.","icon":"partly-cloudy-day","data":[{"time":1443153600,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":56.67,"apparentTemperature":56.67,"dewPoint":47.84,"humidity":0.72,"windSpeed":3.03,"windBearing":358,"visibility":9.36,"cloudCover":0.31,"pressure":1029.04,"ozone":267.61},{"time":1443157200,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity"[...]
